* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    position: fixed;
    width: 100%;
    background-color: white;
}


#mint-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: linear-gradient(0deg, rgba(2,0,36,1) 15%, rgba(44,9,121,1) 50%, rgba(8, 55, 143, 0.89) 100%);
}

#mint-container {
    display: flex;
    flex-direction: row;

}

#mint-box {
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
}

#mint-title {
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

#input {
    margin-top: 20px;
    border-radius: 5%;
    height: 1.5rem;
}

#mint-button {
    height: 30px;
    width: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15%;
    border-style: inherit;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,9,121,1) 35%, rgba(50, 10, 197, 0.89) 100%);
    cursor: pointer;
}

#mint-button:hover {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(8, 4, 65) 35%, rgba(10, 44, 197, 0.89)100%);
}

#imagem1 {
    width: 400px;
    height: 400px;
}

#projetistas {
    display: flex;
    background: linear-gradient(180deg, rgba(8, 55, 143, 0.89) 15%, rgba(44,9,121,1) 50%, rgba(2,0,36,1) 100%);
    height: 100vh;
    align-items: center;
}


#projetistas-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#projetistas-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    border: 0.4rem;
    border-radius: 10px;
    border-color: darkgray;
    border-style: solid;
    padding: 15px;
}

#projetistas-box ul li {
    list-style: none;
    margin: 20px;
    color: darkgray;
}

#projetistas-box ul li a {
    text-decoration: none;
    color: darkgrey;
}

#projetistas-box ul li a:hover {
    color: blueviolet;
    cursor: pointer;
}

#projetistas-nome {
    font-size: 1.3rem;
    font-weight: bold;
}

#projetistas-image {
    border-radius: 50%;
    height: 308px;
    width: 263px;
}
#projetistas-image-2 {
    border-radius: 50%;
    height: 300px;
    width: 250px;
}

#galeria {
    background: linear-gradient(180deg, rgba(2,0,36,1) 15%, rgba(44,9,121,1) 50%, rgba(8, 55, 143, 0.89) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#galeria-imagens {
    display: flex;
    flex-flow: row wrap;
    height: 80%;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

#galeria-imagens div{
    position: relative;
    width: 250px;
    height: 300px;
    margin: 10px;
}

#galeria-imagens img{
    width: 250px;
    height: 250px;
    margin: 10px;
}

#galeria-imagens button:active {
    background-color: #3e8e41;  
     box-shadow: 0 5px #666;   
     transform: translateY(4px);
}

#galeria-imagens button{
    position: absolute;
    background-image: url("/src/img/closedTrash.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin-top: -260px;
    margin-left: 230px;
    opacity: 0.25;
}

#galeria-imagens button:hover {
    background-image: url("/src/img/openTrash.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}

